{% extends 'base.html.twig' %}

{% block title %}Quiz Completed{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Congratulations!</h1>
    <p>You have completed the quiz.</p>
    <p>Your final score is: {{ points }}</p>
</div>
{% endblock %}
